[submodule "home_robot_msgs"]
	path = home_robot_msgs
	url = https://github.com/FabLabHome/home_robot_msgs.git
	branch = master
	update = rebase
[submodule "RCJ_pcms_core"]
	path = RCJ_pcms_core
	url = https://github.com/rootadminwalker/RCJ_pcms_core.git
	branch = 2021
	update = rebase
