<launch>
    <arg name="image_source" default="/camera/rgb/image_raw/compressed"/>
    <arg name="model_type"/>
    <arg name="reverse" default="false"/>
    <node
            name="YD"
            pkg="rcj_pcms_base"
            type="YOLODetectionNode.py"
            required="true"
            output="screen"
    >
        <param name="image_source" type="str" value="$(arg image_source)"/>
        <param name="model_type" type="str" value="$(arg model_type)"/>
        <param name="reverse" type="bool" value="$(arg reverse)"/>
    </node>
</launch>