<launch>
    <arg name="config_file" default="config.hcl"/>
    <node
            name="intent_manager"
            pkg="action_controller"
            type="IntentManagerNode.py"
            required="true"
            output="screen"
    >
        <param name="config_file" type="str" value="$(arg config_file)"/>
    </node>
</launch>
